image: "ubuntu:latest"

stages:
  - "游놓 Setup"
  - "游니 Code Linting"
  - "游뚾 Static Analysis"
  - "游빍 Unit Tests"
  - "游댣 Build"
  # - "游 Deploy"  # TODO: Add deploy stage for Advana target; e.g. package, container, etc. -CW

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache: &global_cache
  policy: pull-push
  untracked: true
  paths:
    - .pip

setup:
  stage: "游놓 Setup"
  only:
    - merge_requests
  cache:
    key: "pip"
    paths:
      - $PIP_CACHE_DIR
  script:
    - apt-get update -qy
    - apt-get install -y git python3 python3-pip
    - mkdir -p /tmp/artifacts
    - python3 --version
    - python3 -m pip install --upgrade pip build
    - pip3 install --no-compile --editable '.[all]'
    - armory configure --use-defaults

code-linting:
  stage: "游니 Code Linting"
  extends: setup
  only:
    - merge_requests
  cache:
    <<: *global_cache
  script:
    - bash tools/pre-commit.sh

static_analysis:
  stage: "游뚾 Static Analysis"
  only:
    - merge_requests
  cache:
    <<: *global_cache
  artifacts:
    when: always
    expire_in: 1 days
    paths:
      - /tmp/artifacts/bandit_scan.txt
  script:
    - bandit -v -f txt -r ./armory -c "pyproject.toml" --output /tmp/artifacts/bandit_scan.txt || $( exit 0 ); echo $?

unit-test:
  stage: "游빍 Unit Tests"
  allow_failure: true # Just until we get the tests working fully.
  only:
    - merge_requests
  cache:
    <<: *global_cache
  script:
    - PYTEST_PARAMS="--exitfirst --suppress-no-test-exit-code"; pytest -c pyproject.toml -s ./tests/unit/test_configuration.py
    - PYTEST_PARAMS="--exitfirst --suppress-no-test-exit-code"; pytest -c pyproject.toml -m "not docker_required and unit" ./tests/
    - PYTEST_PARAMS=" --exitfirst --suppress-no-test-exit-code"; pytest -c pyproject.toml -s ./tests/end_to_end/test_no_docker.py
    #- $( exit 0 ); echo $?

build:
  stage: "游댣 Build"
  cache:
    <<: *global_cache
  only:
    - merge_requests
  script:
    - python3 -m build --sdist --wheel --outdir dist/ .


#########################################
## DEVELOPER NOTES
#########################################
# o TODO: Cache pip packages - https://docs.gitlab.com/ee/ci/yaml/#cache     -CW
# o TODO: Collect artifacts  - https://docs.gitlab.com/ee/ci/yaml/#artifacts -CW
# o TODO: Add deploy stage for Advana target; e.g. package, container, etc.  -CW
