image: "ubuntu:latest"

stages:
  - "游놓 Setup"
  - "游니 Code Linting"
  - "游뚾 Static Analysis"
  - "游빍 Unit Tests"
  - "游댣 Build"
  # - "游 Deploy"  # TODO: Add deploy stage for Advana target; e.g. package, container, etc. -CW

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  # PYTHON_VENV_DIR: "$CI_PROJECT_DIR/venv"
  PYTEST_PARAMS: >-
    --exitfirst
    --suppress-no-test-exit-code

cache: &global_cache
  key: shared-job-key
  policy: pull-push
  untracked: true
  paths:
    - $PIP_CACHE_DIR
    # - $PYTHON_VENV_DIR

before_script:
  - mkdir -p /tmp/artifacts
  - apt-get update -qy
  # Needed by pycocotools
  - apt-get install -qqy --no-install-recommends --no-install-suggests build-essential
  # Needed by versioning and linting scripts
  - apt-get install -qqy --no-install-recommends --no-install-suggests git
  # Base requirements
  - apt-get install -qqy --no-install-recommends --no-install-suggests python3 python3-dev python3-pip python3-venv
  # - pip3 install --upgrade virtualenv

setup:
  stage: "游놓 Setup"
  when: on_success
  only:
    - merge_requests
  script:
    # - python3 -m venv --copies venv
    # - source venv/bin/activate
    - python3 -m pip install --upgrade pip build
    - pip3 install --no-compile --editable '.[all]'
    - armory configure --use-defaults

code-linting:
  stage: "游니 Code Linting"
  only:
    - merge_requests
  script:
    - bash tools/pre-commit.sh

static_analysis:
  stage: "游뚾 Static Analysis"
  only:
    - merge_requests
  artifacts:
    when: always
    expire_in: 1 days
    paths:
      - /tmp/artifacts/bandit_scan.txt
  script:
    - bandit -v -f txt -r ./armory -c "pyproject.toml" --output /tmp/artifacts/bandit_scan.txt || $( exit 0 ); echo $?

unit-test:
  stage: "游빍 Unit Tests"
  allow_failure: true # Just until we get the tests working fully.
  only:
    - merge_requests
  script:
    - pytest -c pyproject.toml -s ./tests/unit/test_configuration.py
    - pytest -c pyproject.toml -m "not docker_required and unit" ./tests/
    - pytest -c pyproject.toml -s ./tests/end_to_end/test_no_docker.py
    - $( exit 0 ); echo $?

build:
  stage: "游댣 Build"
  only:
    - merge_requests
  script:
    - hatch build -t wheel


#########################################
## DEVELOPER NOTES
#########################################
# o TODO: Cache pip packages - https://docs.gitlab.com/ee/ci/yaml/#cache     -CW
# o TODO: Collect artifacts  - https://docs.gitlab.com/ee/ci/yaml/#artifacts -CW
# o TODO: Add deploy stage for Advana target; e.g. package, container, etc.  -CW
#
# o Testing
#   PS> winget install --id Git.Git -e --source winget
