#
# This requirements.txt file does not contain any dependencies, those are
# defined in the appropriate pyproject.toml files. This file is solely for
# convenience of installing all packages contained in this repo locally
# for development.
#
# Usage:
# ```
#    python -m venv .venv
#    . .venv/bin/activate
#
#    pip install -r requirements.txt
# ```
#
-e .
-e library
-e examples[all]