image: "ubuntu:latest"

stages:
  - "游놓 Setup"
  - "游니 Code Linting"
  - "游뚾 Static Analysis"
  - "游빍 Unit Tests"
  - "游닀 Generate Docs"
  - "游댣 Build"
  # - "游 Deploy"  # TODO: Add deploy stage for Advana target; e.g. package, container, etc. -CW

variables:
  ARMORY_CI_TEST: 1
  DEBIAN_FRONTEND: noninteractive
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHON_VENV_DIR: "$CI_PROJECT_DIR/.cache/venv"
  PYTEST_PARAMS: >-
    --exitfirst
    --suppress-no-test-exit-code

cache: &global_cache
  key: shared-job-key
  policy: pull-push
  untracked: true
  paths:
    - $PYTHON_VENV_DIR
    - $PIP_CACHE_DIR


before_script:
  - apt-get update -qy
  # Needed by pycocotools
  - apt-get install -qqy --no-install-recommends --no-install-suggests build-essential
  # Needed by versioning and linting scripts
  - apt-get install -qqy --no-install-recommends --no-install-suggests git
  # Needed for OpenCV
  - apt install -qqy --no-install-recommends --no-install-suggests libgl1-mesa-glx
  # Base requirements
  - apt-get install -qqy --no-install-recommends --no-install-suggests gnupg software-properties-common
  - add-apt-repository -y ppa:deadsnakes/ppa
  - apt-get update -qy
  - apt-get install -qqy --no-install-recommends --no-install-suggests python3.9 python3.9-dev python3.9-venv python3-pip
  - ln -sf /usr/bin/python3.9 /usr/bin/python3
  - ln -sf /usr/bin/pip3.9 /usr/bin/pip3
  - '[[ -d "${PYTHON_VENV_DIR}" ]] && source "${PYTHON_VENV_DIR}/bin/activate"'


setup:
  stage: "游놓 Setup"
  when: on_success
  only:
    - merge_requests
  script:
    - make install


code-linting:
  stage: "游니 Code Linting"
  dependencies:
    - setup
  only:
    - merge_requests
  script:
    - make lint


static_analysis:
  stage: "游뚾 Static Analysis"
  allow_failure: true
  dependencies:
    - setup
    - code-linting
  only:
    - merge_requests
  script:
    - make scan


unit-test:
  stage: "游빍 Unit Tests"
  allow_failure: true # Just until we get the tests working fully.
  dependencies:
    - setup
    - code-linting
  only:
    - merge_requests
  script:
    - make test


pages:
  stage: "游닀 Generate Docs"
  artifacts:
    paths:
      - public
  dependencies:
    - setup
    - code-linting
    - unit-test
  only:
    - jatic
    - merge_requests
  script:
    - make docs


build:
  stage: "游댣 Build"
  artifacts:
    paths:
      - dist/*.whl
  dependencies:
    - setup
    - code-linting
    - unit-test
  only:
    - jatic
    - merge_requests
  script:
    - make build
